<!doctype html>
<html>
    <head>
        <title>Weather Station</title>
        <style>
            table {
                border-collapse: collapse;
            }
            tbody td {
                padding: 2px 12px;
            }
        </style>
    </head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    {{ range .Headers }}
                    <th>{{ . }}</th>
                    {{ end }}
                </tr>
            </thead>
            <tbody>
                {{ range .Rows }}
                <tr>
                    {{ range . }} {{if .}}
                    <td>{{printf "%.2f" .TempF }}°F ({{ FormatDate .Timestamp }})</td>
                    {{else}}
                    <td></td>
                    {{end}} {{ end }}
                </tr>
                {{ end }}
            </tbody>
        </table>
    </body>
</html>
